<section class="hero hero-home no-padding">
  <!-- Hero Slider-->
  <div class="owl-carousel owl-theme hero-slider" id="hero">
    {% for block in section.blocks %}
    <div style="background: url({{block.settings.slide_image| img_url:'2048x'}})" class="item d-flex align-items-center has-pattern">
      <div class="container">
        <div class="row">
          {{block.settings.slide_text}}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
{% schema %}
 {
   "name":"Hero",
  "blocks":[
  {
 "type":"text",
  "name":"Brand",
  "settings":[
    {
      "id":"slide_image",
      "type":"image_picker",
      "label":"Slide_Image"
    },
    {
      "id":"slide_text",
      "type":"text",
      "label":"Slide_text"
    }]
    }
   ] 
  } 
{% endschema %}

